<div class="main">
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <form *ngIf="!isLoggedIn" name="form"
              (ngSubmit)="f.form.valid && onSubmit()" #f='ngForm' novalidate id="signup-form" class="signup-form">
          <h3 class="form-title">Login to use our<br/> Password Manager </h3>
          <h2 class="form-title">Login</h2>
          <div class="form-group">
            <input type="text" class="form-input" name="username" [(ngModel)]="form.username" required
                   minlength="3" maxlength="20" #username='ngModel' placeholder="Your Username"/>
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors.required">Username is Required</div>
              <div *ngIf="username.errors.minlength">Username must be at least 3 characters</div>
              <div *ngIf="username.errors.maxlength">Username must be at most 20 characters</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-input" name="password" [(ngModel)]="form.password" required
                   minlength="6" #password="ngModel" placeholder="Password"/>
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength"> Password must be at least 6 characters
              </div>
            </div>
            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" id="submit" class="form-submit" value="Login"/>
            <div class="alert alert-warning" *ngIf="f.submitted && isLoginFailed">
              Signup failed!<br />{{ errorMessage }} </div>
          </div>

          <p class="loginhere">
            Do not have an account? <a class="loginhere-link" routerLink="/register">Signup here</a>
          </p>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in!
        </div>
      </div>
    </div>
  </section>

</div>




