img {
  max-width: 100%;
  height: auto;
  position: relative;
  display: inline-block;margin-left: 30px;
  margin-bottom: 30px;
}

h1 {
  line-height: 1.66;
  font-weight: 900;
  color: #ffffff;
  font-family: 'Montserrat', serif;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

h2 {
  position: relative;
  margin-left: 20px;
  margin-top: 12px;
  line-height: 1.66;
  font-weight: 900;
  color: #000000;
  font-family: 'Montserrat', serif;
  font-size: 50px;
}

h3 {
  line-height: 1.66;
  font-weight: 900;
  color: #000000;
  font-family: 'Montserrat', serif;
  font-size: 30px;
}
h4 {
  line-height: 1.66;
  font-weight: 900;
  color: #10596b;
  font-family: 'Montserrat', serif;
  font-size: 24px;
}

h5 {
  line-height: 1.66;
  font-weight: 900;
  color: rgba(102, 102, 102, 0.62);
  font-family: 'Montserrat', serif;
  font-size: 16px;
}

.clear {
  clear: both; }

body {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  font-family: 'Montserrat', serif;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  padding: 115px 0; }

.container {
  width: 660px;
  position: relative;
  top: 70px;
  right: 40px;
  margin: 0 auto; }

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}


.label {
  position: relative;
  display: inline-block;margin-right: 20px;
}

.form-input {
  position: relative;
  width: 75%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222; }
.form-input::-webkit-input-placeholder {
  color: #999; }
.form-input::-moz-placeholder {
  color: #999; }
.form-input:-ms-input-placeholder {
  color: #999; }
.form-input:-moz-placeholder {
  color: #999; }
.form-input::-webkit-input-placeholder {
  font-weight: 500; }
.form-input::-moz-placeholder {
  font-weight: 500; }
.form-input:-ms-input-placeholder {
  font-weight: 500; }
.form-input:-moz-placeholder {
  font-weight: 500; }
.form-input:focus {
  border: 1px solid transparent;
  -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
  -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
  -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
  border-image-source: linear-gradient(to right, #9face6, #74ebd5);
  -webkit-border-image-slice: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box; }
.form-input:focus::-webkit-input-placeholder {
  color: #222; }
.form-input:focus::-moz-placeholder {
  color: #222; }
.form-input:focus:-ms-input-placeholder {
  color: #222; }
.form-input:focus:-moz-placeholder {
  color: #222; }

.form-submit {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b; }

.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px; }

.loginhere-link {
  font-weight: 700;
  color: #222; }

.field-icon {
  float: right;
  margin-right: 17px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  color: #555; }

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%; } }
@media screen and (max-width: 480px) {
  .signup-content {
    padding: 50px 25px; } }

p {
  line-height: 1.66;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat', serif;
  font-size: 22px;
}


.button-submit {
  position: relative;
  margin-top: 20px;
  left: 95px;
  width: 30%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b;
}

.button-show {
  position: relative;
  left: 10px;
  width: 20%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 700;
  color: #10596b;
  text-transform: uppercase;
  border: none;
  background-color: rgba(212, 226, 230, 1);


}
.button-permission-cust {
  position: relative;
  margin-top: 20px;
  margin-left: 100px;
  width: 30%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b;
}


.button-submit-cust {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  width: 30%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b;
}

.custom {
  margin-top: 40px;
}

.ml-custom {
  margin-left: 500px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}


.button-add {
  position: relative;
  margin-bottom: 50px;
  width: 10%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b;
}


.button-notes {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  margin-top: 12px;
  width: 40%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b;
}

.button-credential {
  position: relative;
  display: inline-block;
  margin-top: 12px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b;
}

.bg-mine {
  position: relative;
  background: #faf7f4;
  margin-top: 40px;
}

.war-cust {
  position: relative;
  margin-top: 150px;
}

.war-cust-cred{
  position: relative;
  margin-top: 50px;
}

.custom {
  margin-top: 40px;
}
.ml-buttons {
  margin-left: 60px;
}

.button-submit-note-cust {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  width: 30%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b;
}

.button-submit-note {
  position: relative;
  margin-top: 40px;
  left: 150px;
  width: 30%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #10596b;
}

.form-input-note {
  position: relative;
  background: #10596b;
  border: 1px solid #10596b;
  width: 100%;
  padding: 20px 30px;
  line-height: 1.66;
  font-weight: 900;
  color: #ffffff;
  font-family: 'Montserrat', serif;
  font-size: 30px;
  text-align: center;
  bottom: 20px;
}

.form-input-note::-webkit-input-placeholder {
  font-weight: 500; }
.form-input-note:focus::-webkit-input-placeholder {
  color: rgba(255, 252, 252, 0); }
