<app-sidebar [sidenavtemplateRef]="navContent" [direction]="" [navWidth]="500" [duration]="0.5"></app-sidebar>

<header>
  <div class="header-menu">
    <button type="button" (click)="toggleAddSideBar()" class="button-add">Add</button>
  </div>
</header>

<div class="container-fluid custom">

  <ul class="list-group list-group-flush">
    <h3>Click to see your password</h3>
    <li class="list-group-item" (click)="toggleEditSideBar(c)" *ngFor="let c of credentials">
      <h4>{{c.url.split("://").pop()}}</h4>
      <h5>{{c.login}}</h5>
    </li>
  </ul>
</div>


<ng-template #navContent>
  <div *ngIf="ifAdd">
  <div>
    <h1>Add a password</h1>
  </div>
  <div class="main">
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <form class="signup-form" (ngSubmit)="f.form.valid && onSubmit()" #f='ngForm' novalidate id="submit-form">
          <div class="form-group">
            <p>URL Site</p>
           <input type="text" class="form-input" [(ngModel)]="form.url" name="url" #url='ngModel' required placeholder="URL">
         </div>
          <div class="form-group">
            <p>Login</p>
            <input type="text" class="form-input" [(ngModel)]="form.login" name="login" #login='ngModel' required placeholder="Login Data">
          </div>
          <div class="form-group">
            <p>Password</p>
            <input type="text" class="form-input" [(ngModel)]="form.password" name="password" #password='ngModel' placeholder="Password">
          </div>
          <div class="form-group">
            <input type="submit" name="submit" id="submit" class="button-submit" value="Save"/>
          </div>
        </form>
      </div>
    </div>
  </section>
  </div>
  </div>

  <div *ngIf="!ifAdd">
    <div>
    </div>
      <h1>{{form2.title.split("://").pop()}}</h1>
    <div class="main">
      <section class="signup">
        <div class="container">
          <div class="signup-content">
            <form class="signup-form" (ngSubmit)="f.form.valid" #f='ngForm' novalidate id="edit-form">
              <div class="form-group">
                <p>URL Site</p>
                <input type="text" class="form-input" [(ngModel)]="form2.titleEdited" name="url" #url='ngModel' required>
              </div>
              <div class="form-group">
                <p>Login</p>
                <input type="text" class="form-input" [(ngModel)]="form2.loginNameEdited" name="login" #login='ngModel' required>
              </div>
              <div class="form-group" *ngIf="!isShow" >
                <p>Password<input type="button" name="showPw" id="showPw" class="button-show" (click)="onShow()" value="Show"></p>
                <input type="password" class="form-input" [(ngModel)]="form2.password" name="password" #password='ngModel' readonly value="hidden">
              </div>

              <div class="form-group" *ngIf="isShow">
                <p>Password<input type="button" name="showPw" id="hide" (click)="onHide()" class="button-show" value="hide"></p>
                <input type="text" class="form-input" [(ngModel)]="form2.passwordEdited" name="password" #password='ngModel'>
              </div>

              <div class="form-group">
                <input type="submit" name="edit" id="delete" (click)="onDelete()" class="button-submit-cust" value="Delete"/>
                <input type="submit" name="edit" id="edit" (click)="onEdit()" class="button-submit-cust" value="Edit">
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>


