<app-sidebar [sidenavtemplateRef]="navContent" [direction]="" [navWidth]="600" [duration]="0.5"></app-sidebar>

<app-header></app-header>



<ng-template #navContent>

  <div>
    <h1>Add a password</h1>
  </div>

  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <form class="signup-form">
          <div class="form-group">
            <p>URL Site</p>
           <input type="text" class="form-input" placeholder="URL Site">
         </div>
          <div class="form-group">
            <p>Login</p>
            <input type="text" class="form-input" placeholder="Login Data">
          </div>
          <div class="form-group">
            <p>Password</p>
            <input type="text" class="form-input" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="submit" name="submit" id="submit" class="button-submit" value="Save"/>
          </div>
        </form>
      </div>
    </div>
  </section>

</ng-template>
