
<div class="main">
  <div class="container">
    <img src="./images/logo.png" alt="">
    <h4>Our password manager is <br/> completely safe and reliable</h4>
    <h2>Secure your passwords! You just need to remember that one to access your account</h2>

    <h3>Try the automatic password generator feature clicking here:
      <a routerLink="/login" class="generate-here">Password generator</a>
    </h3>
    <h2>OR<br/>
    <a routerLink="/login" class="loginhere">Login here</a> <br/></h2>
  </div>
</div>

